// compileCompressed: ../css/main.css
@import "_variables";
@import "_slick";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  color: var(--bs-app-dark-blue);
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Changa One', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.1;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.btn-app {
  font-size: 18px;
  padding: 12px 30px;
}

.row-20 {
  margin-left: -20px;
  margin-right: -20px;
  > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row-10 {
  margin-left: -10px;
  margin-right: -10px;
  > div {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

header {
  .container {
    max-width: 1440px;
  }
  nav.navbar {
    position: absolute;
    a.navbar-brand {
      img {
        max-height: 70px;
      }
    }
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          color: #FFF;
          padding-left: 15px;
          padding-right: 30px;
          &.active {
            color: var(--bs-app-light-blue);
            text-decoration: underline;
            font-weight: bold;
          }
        }
        a.nav-link.navbar-brand {
          img {
            max-height: 100px;
          }
        }
      }
    }
    &.alternate {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            color: var(--bs-app-black);
            &.active {
              color: var(--bs-app-blue-yonder);
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    nav.navbar {
      .offcanvas {
        background: var(--bs-app-orange);
        padding: 30px;
        button.btn-close {
          position: absolute;
          top: 30px; right: 30px;
        }
        ul.navbar-nav {
          li.nav-item {
            a.nav-link {
              color: #FFF;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
#video {
  min-height: 900px;
  .bg-wrapper {
    width: 100%;
    max-width: 1090px;
    background: url("../images/bg-video.png") no-repeat bottom center/100% auto;
    .video-wrapper {
      max-width: 750px;
    }
  }
  @include media-breakpoint-down(lg) {
    min-height: inherit;
  }
  @include media-breakpoint-down(md) {
    .bg-wrapper {
      width: calc(100% + 50px);
      margin: 0 -50px;
      padding: 0 25px;
      background-size: 130% auto;
      .video-wrapper {
        max-width: 750px;
        margin-bottom: 1px;
      }
    }
  }
}
#banner {
  background: var(--bs-app-light-blue) url("../images/banner.jpg") no-repeat bottom center/cover;
  min-height: 700px;
  #countdown {
    font-size: 75px;
  }
  @include media-breakpoint-down(md) {
    #countdown {
      font-size: 50px;
    }
  }
}
#experience {
  background: var(--bs-app-light-blue) url("../images/bg-clouds.jpg") no-repeat top center/cover;
  position: relative;
  .container {
    max-width: 830px;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    z-index: 10;
  }
  &:before {
    top: -50px;
    height: 50px;
    background: url("../images/cloud-1.png") no-repeat top center/cover;
  }
  // &:after {
  //   bottom: -46px;
  //   height: 46px;
  //   background: url("../images/cloud-2.png") no-repeat bottom center/cover;
  // }
  @include media-breakpoint-up(xxl) {
    &:before,
    &:after {
      background-size: 100% 100%;
    }
  }
}
#learning {
  img.iccon {
    width: auto;
    height: 65px;
  }
}
#discover {
  background-color: var(--bs-app-yellow-green);
  background-image: url("../images/flower-left.png"), url("../images/flower-right.png");
  background-position: bottom left, bottom right;
  background-size: 20% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  .lead {
    font-size: 18px;
  }
  .container {
    max-width: 900px;
    position: relative;
    z-index: 2;
  }
  #books-carousel {
    padding: 0 50px;
    button.slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 0;
      height: 0;
      text-indent: -99999px;
      border: none;
      background: transparent;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      &.slick-prev {
        left: -50px;
        border-right: 25px solid var(--bs-app-dark-blue);
      }
      &.slick-next {
        right: -50px;
        border-left: 25px solid var(--bs-app-dark-blue);
      }
    }
    .slick-list {
    margin: 0 -30px;
    }
    .slick-slide {
    margin: 0 30px;
    }
  }
  .modal-adventure {
    .modal-dialog {
      .modal-content {
        .modal-body {
          button.btn-close {
            position: absolute;
            top: 20px; right: 20px;
          }
          .content {
            max-width: 730px;
            img {
              max-width: 360px;
              border-radius: 40px;
              border: solid 10px #AAA;
              &.medium-blue {
                border-color: var(--bs-app-medium-blue);
              }
              &.cool-grey {
                border-color: var(--bs-app-cool-grey);
              }
              &.dark-blue {
                border-color: #43547C;
              }
              &.light-orange {
                border-color: #EDBCB4;
              }
              &.orange {
                border-color: #CD7062;
              }
              &.green {
                border-color: var(--bs-app-green);
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    #books-carousel {
      button.slick-arrow {
        &.slick-prev {
          left: -25px;
        }
        &.slick-next {
          right: -25px;
        }
      }
    }
  }
}
#experts {
  background-color: #F8F4ED;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../images/bg-swoosh-white.png"), url("../images/bg-swoosh-gray.png");
  background-position: top center, bottom center;
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0; left: 0; right: 0;
    width: 100%; height: 1px;
    background: #FFF;
  }
  .container {
    max-width: 1000px;
  }
  #experts-carousel {
    padding: 30px 0;
    button.slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px;
      font-weight: bold;
      border: none;
      background-color: transparent;
      &.slick-prev {
        left: -30px;
      }
      &.slick-next {
        right: -30px;
      }
    }
    ul.slick-dots {
      position: absolute;
      bottom: 0; left: 50%;
      transform: translateX(-50%);
      list-style: none;
      padding: 0; margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        padding: 0; margin: 0 9px;
        button {
          border: none;
          background: #DCDCDC;
          text-indent: -9999px;
          width: 16px; height: 16px;
          border-radius: 8px;
        }
      }
      li.slick-active {
        button {
          background: #43547C;
        }
      }
    }
    .slick-slide {
      padding: 30px;
    }
  }
  .info {
    background: #FFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  @include media-breakpoint-down(md) {
    #experts-carousel {
      padding: 0;
      .slick-slide {
        padding: 20px;
      }
    }
  }
}
#badges {
  .container {
    max-width: 940px;
  }
}
#parents {
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: 425px auto;
  background-position: bottom left, bottom right;
  background-image: url("../images/artwork-left.png"), url("../images/artwork-right.png");
  .container {
    max-width: 1440px;
  }
  .item {
    box-shadow: 0px 2.93046px 29.3046px rgba(0, 0, 0, 0.25);
  }
  .reviews {
    max-width: 1120px;
    .review {
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
      img {
        display: inline-block;
      }
    }
  }
  #reviews-carousel {
    padding-bottom: 30px;
    button.slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px;
      font-weight: bold;
      border: none;
      background-color: transparent;
      &.slick-prev {
        left: -30px;
      }
      &.slick-next {
        right: -30px;
      }
    }
    ul.slick-dots {
      position: absolute;
      bottom: 0; left: 50%;
      transform: translateX(-50%);
      list-style: none;
      padding: 0; margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        padding: 0; margin: 0 9px;
        button {
          border: none;
          background: #DCDCDC;
          text-indent: -9999px;
          width: 16px; height: 16px;
          border-radius: 8px;
        }
      }
      li.slick-active {
        button {
          background: #43547C;
        }
      }
    }
    .slick-slide {
      padding: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    background-position: bottom left;
    background-image: url("../images/artwork-left.png");
  }
}
#membership {
  background: url("../images/bg-swoosh-blue.png") no-repeat center bottom/100% auto;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0; left: 0; right: 0;
    width: 100%; height: 1px;
    background: #FFF;
    z-index: 1;
  }
  .container {
    max-width: 780px;
  }
  .product {
    background: #FFF;
    border-radius: 25px;
    border-top-right-radius: 150px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    max-width: 350px;
    position: relative;
    transition: outline .250s;
    img.save {
      position: absolute;
      top: -30px; right: -70px;
      width: 169px; height: 169px;
    }
    .img-wrap {
      img {
        border: solid 20px #D4EBEC;
        border-top-left-radius: 25px;
        border-top-right-radius: 150px;
      }
    }
    &.selected {
      outline: 10px solid #60B4AB;
    }
  }
  .popup {
    form {
      max-width: 500px;
    }
  }
  @include media-breakpoint-down(md) {
    .product {
      img.save {
        top: -15px; right: -30px;
        width: 130px; height: 130px;
      }
    }
  }
}
footer {
  background: #FFF url("../images/bg-footer.jpg") no-repeat bottom center/100% auto;
  a {
    text-decoration: none;
  }
  .container {
    max-width: 730px;
  }
  .btn-circle {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 26px;
    text-decoration: none;
    line-height: 1;
    transition: opacity .125s;
    &:hover {
      opacity: .75;
    }
  }
  @include media-breakpoint-down(md) {
    .btn-circle {
      font-size: 14px;
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
      > div {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
